div.expand {
	position: fixed;
	left : 0;
	right : 0;
	bottom : 0;
	top : 0;
	margin : auto;
    height:100px;
    width:100px;
    display: inline-block;
    border-radius : 10px;
}

#red {
    background-color:#64C9E8;
}


.text {
	font-family : sans-serif;
	font-weight : normal;
	font-size : 40pt;
	color : white;
	text-align : center;
	vertical-align : middle;
	line-height : 500px;
}

body {
	background-color : #4A4A4A;
}